@model IEnumerable<CatBlog.Models.Cat>
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="is-size-2 has-text-weight-bold">Welcome to Mio's Cat Blog, it's amazing!</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Color)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Age)
                    </th>
                    <th>
                        Best fail
                    </th>
                </tr>
            </thead>
            <tbody>
            @foreach (var cat in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => cat.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cat.Color)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cat.Age)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => cat.BestFail)
                    </td>
                    <td>
                        <button class="button is-danger is-light" onclick="deleteCat(@(cat.Id))">Delete</button>
                    </td>
                </tr>
            }
            </tbody>
        </table>
        <br>
        <br>
        <br>
        <form method="post" enctype="multipart/form-data" asp-controller="Cat" asp-action="Post">

            <div class="field">
                <label class="label">Name</label>
                <div class="control">
                    <input class="input" name="name" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">Color</label>
                <div class="control">
                    <input class="input" name="color" type="text">
                </div>
            </div>

            <div class="field">
                <label class="label">Age</label>
                <div class="control">
                    <input class="input" name="age" type="number">
                </div>
            </div>

            <div class="field">
                <label class="label">Best Fail</label>
                <div class="control">
                    <textarea class="textarea"  name="bestFail" placeholder="remember: Mio is the master of desaster ;-)"></textarea>
                </div>
            </div>
           
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
        </form>
    </div>